<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Donate</title>
   <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    {% load crispy_forms_tags %}
    {% include 'header.html' %}
    <div style="position: absolute; margin-left: 520px; margin-top: 0px; padding: 10px;">
        <div class="card" style="width: 26rem;">
            <div class="card-header" style="background-color: #c66ecc;">
                <h3>Donations</h3>
            </div>
            <div class="card-body" style="background-color: #ced45d;">
            <form action="/request/donate" method="post" style="width: 20rem;" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary" style="width: 20rem;" >Отправить данные</button>
            </form>
            </div>
        </div>
    </div>
    <p>
        <a style="padding: 10px;" href="/">Return main</a>
    </p>
</body>
</html>