{% load static %}
<style>
    body {
        background-image: url({% static "white-hexagon-pattern-background_1393-307.jpg"%});
        background-size: 100%;
        background-attachment: fixed;
    }
    td, th, tr {
        width: 20rem;
        text-align: center;
        border: 3px solid #CCCCCC;
    }

</style>
<nav class="navbar" style="height: 70px;  background: #00b0d8;">
    <div class="container">
        <a class="navbar-brand"  style="position: relative; left: -100px;" href="/"><img src="{% static 'Без имени.png'%}" alt="" width="120" height="36" class="d-inline-block align-text-top"></a>
        <form action="{% url 'set_session_office' %}" method="post">
        {% csrf_token %}
            <p>
                <select style="position: relative; left: -300px; top: 10px;" onchange="this.form.submit()" name="office" class="form-select" aria-label="Default select example">
                    <option>{{name.name}}</option>
                    {% for item in office %}
                        <option value="{{ item.id }}"
                            {% if item.id == request.session.office %}
                                selected
                            {% endif %}> {{ item.name }} </option>
                    {% endfor %}
                </select>
            </p>
        </form>
        <a class="navbar-brand" style="position: relative; right: -510px;" href="/list">List</a>
        <a class="navbar-brand" style="position: relative; right: -150px;" href="/admin">Admin</a>
        <a class="navbar-brand"  href="/api">API</a>
    </div>
</nav>