{% load static %}
<style>
    body {
        background-image: url({% static "white-hexagon-pattern-background_1393-307.jpg"%});
        background-size: 100%;
        background-attachment: fixed;
    }
</style>
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img src="{% static 'Без имени.png'%}" alt="" width="120" height="36" class="d-inline-block align-text-top"></a>
        <form action="{% url 'set_session_office' %}" method="post">
        {% csrf_token %}
            <p>
                <select onchange="this.form.submit()" name="office" class="form-select" aria-label="Default select example">
                    <<option >Office</option>
                    {% for item in office %}
                        <option value="{{ item.id }}"
                            {% if item.name == request.POST.office %}
                                selected
                            {% endif %}> {{ item.name }}</option>
                    {% endfor %}
                </select>
            </p>
        </form>
        <a class="navbar-brand" href="/list">List</a>
    </div>
</nav>