<!DOCTYPE html>
<html lang="en">
{% load static %}
<style>
    th, td {
        font-style: italic;
        font-weight: bold;
    }
    .card {
        background-image: url({% static "white-hexagon-pattern-background_1393-307.jpg"%});
        background-size: 100%;
    }
    table {
    counter-reset: rowNumber;
    }

    table tbody tr {
        counter-increment: rowNumber;
    }

    table tr td:first-child::before {
        content: counter(rowNumber);
        min-width: 1em;
        margin-right: 0.5em;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>List of donations</title>
    <link rel="icon" href="data:;base64,=">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    {% include 'header.html' %}
<div class="card">
    <table class="table" >
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Id</th>
            <th scope="col">Наименование</th>
            <th scope="col">Количество</th>
            <th scope="col">Офис</th>
            <th scope="col">Hash Запроса/Пожертвования</th>
            <th scope="col">Количество вещей в запросе/пожертвовании </th>
            <th scope="col">Доступонсть</th>
            <th scope="col">Описание</th>
            <th scope="col">Состояние</th>
            <th scope="col">Место на полке</th>
            <th scope="col">Дата и время</th>
            <th scope="col">Фото</th>
        </tr>
        </thead>
        <tbody>
        {% for each_item in data %}
        <tr>
            <td></td>
            <td>{{ each_item.id }}</td>
            <td>{{ each_item.name_item }}</td>
            <td>{{ each_item.amount_item }}</td>
            <td>
                {{ each_item.office.name }}
                    {% if each_item.state == 'Available' or each_item.state == 'Booked'%}
                <br>(пожертвование)
                    {%else%}
                <br>(запрос)
                    {%endif%}
                <br>заполнение склада {{ each_item.office.office_count }} из {{ each_item.office.capacity }}
            </td>
            <td>{{ each_item.request_hash.id }}
                {%if each_request.request_hash.request_amount == Null%}
                {{ each_item.donate_uuid.id }}
                {%endif%}
            </td>
            <td>
                {{ each_item.request_hash.request_amount }}
                {%if each_request.request_hash.request_amount == Null%}
                {{ each_item.donate_uuid.donate_amount }}
                {%endif%}
            </td>
            <td>{{ each_item.state }}</td>
            <td>{{ each_item.description.details }}</td>
            <td>{{ each_item.description.condition}}</td>
            <td>{{ each_item.description.place }}</td>
            <td>
                {{ each_item.request_hash.datetime }}
                {%if each_item.request_hash.datetime == Null%}
                {{ each_item.donate_uuid.datetime }}
                {%endif%}
            </td>
            <td>{%if each_item.description.photo%}<img style="max-height: 100px;"
                src="{{ each_item.description.photo.url }}"/>{%endif%}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
      <p>
    <a href="/">Return main</a>
    </p>
    </div>
</body>
</html>