<!DOCTYPE html>
<html>
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    {% include 'header.html' %}
    <div style="position: relative; padding: 10px; ">
        <div class="card" style="width: 26rem;">
            <div class="card-header" style="background-color: #c66ecc;">
                <h3>Donation Form</h3>
            </div>
            <div class="card-body" style="background-color: #ced45d;">
                <form action="/donate" method="post">
                    {% csrf_token %}
                    <div class="registation">
                        <label>Name
                            <input type="text" name="name" class="form-control">
                        </label>
                        <div id="name" class="form-text">Enter thing's name.</div>
                    </div>
                    <p>
                    </p>
                    <label>Amount
                        <input type="number" name="amount" class="form-control">
                    </label>
                    <div id="amount" class="form-text">Enter amount of things.</div>
                     <p>
                    </p>
                    <button {% if disabled %} disabled {% endif %} type="submit" class="btn btn-primary" style="width: 24rem;">Donate</button>
                </form>
            </div>
        </div>
    </div>
    <div style="position: absolute; margin-left: 520px; margin-top: -355px; padding: 10px;">
        <div class="card" style="width: 26rem;">
            <div class="card-header" style="background-color: #c66ecc;">
                <h3>Registration Donating</h3>
            </div>
            <div class="card-body" style="background-color: #ced45d;">
                <form action="/request/donation">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" style="width: 24rem;" >Ask for donate</button>
                </form>
                <form action="/request/number" method="post" style="margin-top: 60px";>
                    {% csrf_token %}
                    <label>Ask for request
                        <input type="number" name="request" class="form-control">
                    </label>
                    <div id="request" class="form-text">Enter the number of donations requested.</div>
                    <button type="submit" class="btn btn-primary" style="width: 24rem;" >Request</button>
                </form>
            </div>
        </div>
    </div>
    <div class="card-body" style="background-color: #ced45d;
    width: 25rem;
    position: absolute;
    margin-left: 1030px;
    margin-top: -340px;
    padding: 10px;">
        <form action="/list">
            <button type="submit" class="btn btn-primary" style="width: 24rem;" >List</button>
        </form>
    </div>
</body>
</html>