<!DOCTYPE html>
<html>
{% load static %}
<style>
    .form-text, h6, label {
        font-style: italic;
    }
    .card h3 {
        font-style: italic;
        color: #ffffff;
    }
    .card {

        box-shadow: 10px 10px 20px rgba(0,0,0,0.5);
    }
    .card .card-header {
        background-image: url({% static "1626808610_32-kartinkin-com-p-svetlii-fon-dlya-kompyutera-krasivo-33.jpg"%});
        background-size: 100%;
        border: 4px;
        border-style: groove;
    }
    .card-body {
        background-image: url({% static "white-hexagon-pattern-background_1393-307.jpg"%});
        background-size: 100%;
        border: 4px;
        border-style: groove;
    }
    #idcard .card-body {
        background-image: url({% static "1626808610_32-kartinkin-com-p-svetlii-fon-dlya-kompyutera-krasivo-33.jpg"%});
        background-size: 250%;
    }
</style>
<head>
    <!-- CSS only -->
    <link rel="icon" href="data:;base64,=">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>CharityBar</title>
</head>
<body>
    {% include 'header.html' %}
    {% load crispy_forms_tags %}
    {% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-success {{ message.tags }}" style="text-align: center;">
            	{{ message }}
          	</div>
        	{% endfor %}
    {% endif %}
    <div style="position: relative; padding: 10px;">
        <div class="card" style="width: 26rem;">
            <div class="card-header">
                <h3>Try your luck and get a random donation</h3>
            </div>
            <div class="card-body">
                <form action="/request/donation">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary" style="width: 24rem;" >🤑 I'm lucky!</button>
                </form>
            </div>
        </div>
    </div>
    <div style="position: absolute; margin-left: 520px; margin-top: -200px; padding: 10px;">
        <div class="card" style="width: 26rem;">
            <div class="card-header" style="background-color: #c66ecc;">
                <h3>Registering Multiple Donations</h3>
            </div>
            <div class="card-body">
                <h6 >Here you can donate multiple donations at the same time</h6>
                <form action="request/donate_amount" method="post" style="margin-top: 20px">
                    {% csrf_token %}
                    <label>Make A Donation
                        <input {% if not current_office %}
                                   disabled placeholder="Please select an office"
                               {% endif %}
                               type="number"
                               name="request"
                               class="form-control">
                    </label>
                    <div id="donate" class="form-text">Enter the number of donations.</div>
                    <button {% if disabled_office %} disabled {% endif %}
                            type="submit"
                            class="btn btn-primary"
                            style="width: 24rem;" >Donate
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div style="position: absolute; margin-left: 520px; margin-top: 135px; padding: 10px;">
        <div class="card" style="width: 26rem;">
            <div class="card-header" style="background-color: #c66ecc;">
                <h3>Registration Request</h3>
            </div>
            <div class="card-body">
                <h6 >Here you can make a request for several donations at the same time</h6>
                <form action="/request/number" method="post" style="margin-top: 30px;">
                    {% csrf_token %}
                    <label>Ask for request
                        <input {% if not current_office %}
                                   disabled placeholder="Please select an office"
                               {% endif %}
                               type="number"
                               name="request"
                               class="form-control">
                    </label>
                    <div id="request" class="form-text">Enter the number of donations requested.</div>
                    <button type="submit" class="btn btn-primary" style="width: 24rem;" >Request</button>
                </form>
            </div>
        </div>
    </div>
    <div style="position: absolute;  margin-top: 0px; padding: 10px;">
        <div class="card" style="width: 26rem;">
            <div class="card-header">
                <h3>Search</h3>
            </div>
            <div class="card-body">
            <form action="/request/criterion_list" method="get" style="width: 20rem;" enctype="multipart/form-data">
                {{ criterion|crispy }}
                <button type="submit" class="btn btn-primary" style="width: 20rem;">Search by criteria</button>
            </form>
            </div>
        </div>
    </div>
    <form action="{% url 'request_from_main' %}" method="post">
        {% csrf_token %}
        <div class="card" id="idcard" style="width: 24rem; margin-left: 1020px; margin-top: -190px;">
            <div style="height=300px;" class="card-body">
            <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div style="height: 450px; text-align: center; font-style: italic; font-weight: bold;" class="carousel-inner"> Here you can scroll through and reserve your donation
                        <div hidden class="carousel-item active" >
                            <img src="{% static '1616523051_14-p-svetlii-fon-14.jpg'%}" class="d-block w-100"/>
                        </div>
                        {% for each_item in data %}
                        <div style="text-align: center;" class="carousel-item">
                            {%if each_item.description.photo%}
                                <img style="height: 300px; width: 100%; margin-top: 40px;" src="{{ each_item.description.photo.url }}"/>
                            {%endif%}
                            <p>
                                <button type="submit" class="btn btn-primary" style="margin-top: 40px; text-transform: capitalize;" value="{{ each_item.id }}" name="req">
                                        {{each_item.description.name_item}}. Reserve it!!! 🤗
                                </button>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </form>
</body>
</html>