<!DOCTYPE html>
<html>
{% load static %}
<style>
    .card {
        background-image: url({% static "white-hexagon-pattern-background_1393-307.jpg"%});

</style>
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
{% include 'header.html' %}
{% load crispy_forms_tags %}
    <div style="padding: 10px; margin:0 auto; width:500px;">
        <div class="card" style="width: 26rem; padding: 10px;">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Welcome to Charity Bar</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Registration</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="/login">Login</a>
            </small>
        </div>
    </div>
        </div>
</body>